Repository colibri-hq/colibri: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint, check, test

fmt:
  run: pnpm run fmt -- {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

lint:
  run: pnpm run lint -- {staged_files}
  stage_fixed: true

check:
  run: pnpm run check -- {staged_files}
  stage_fixed: true

test:
  run: pnpm run test

Added missing prettier config to OAuth package
  lefthook.yaml
  packages/oauth/prettier.config.ts
Due: fmt, lint, check, test

Improved documentation
  packages/oauth/README.md
  packages/oauth/package.json
Due: fmt, lint

Refactor table rendering logic and enhance theme options
  apps/cli/package.json
  apps/cli/src/utils/tables.ts
Due: fmt, lint, check, test

Bumped workspace packages
  package.json
  packages/oauth/package.json
  packages/pdf/package.json
  packages/sdk/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Formatted readme
  packages/pdf/README.md
Due: fmt, lint

Added terminal rendering utils
  apps/cli/src/utils/rendering.ts
Due: fmt, lint, check, test

Added more book parsing infrastructure
  apps/cli/src/command.ts
  apps/cli/src/commands/books/inspect.ts
  packages/mobi/.gitignore
  packages/mobi/.prettierignore
  packages/mobi/LICENSE
  packages/mobi/README.md
  packages/mobi/eslint.config.ts
  packages/mobi/package.json
  packages/mobi/prettier.config.ts
  packages/mobi/src/ambient.d.ts
  packages/mobi/src/index.ts
  packages/mobi/src/locale.ts
  packages/mobi/src/parser.ts
  packages/mobi/tsconfig.base.json
  packages/mobi/tsconfig.json
  packages/mobi/tsconfig.node.json
  packages/sdk/package.json
  packages/sdk/src/ebooks/epub.ts
  packages/sdk/src/ebooks/epub/index.mts
  packages/sdk/src/ebooks/epub/index.ts
  packages/sdk/src/ebooks/epub/legacy.ts
  packages/sdk/src/ebooks/epub/parser.ts
  packages/sdk/src/ebooks/epub/storyteller.mts
  packages/sdk/src/ebooks/index.ts
  packages/sdk/src/ebooks/metadata.ts
  packages/sdk/src/ebooks/mobi.ts
  packages/sdk/src/ebooks/mobi/index.mts
  packages/sdk/src/ebooks/pdf.ts
Due: fmt, lint, check, test

Bumped packages
  apps/cli/package.json
  packages/oauth/package.json
  packages/sdk/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Updated to Storybook 9
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/src/lib/ui/NavigationLink/NavigationLink.stories.svelte
  pnpm-lock.yaml
Due: fmt, lint, check, test

Bumped dependencies
  apps/app/package.json
  apps/cli/package.json
  package.json
  packages/oauth/package.json
  packages/pdf/package.json
  packages/sdk/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Added OpenLibrary client
  packages/open-library-client/.gitignore
  packages/open-library-client/.prettierignore
  packages/open-library-client/README.md
  packages/open-library-client/eslint.config.ts
  packages/open-library-client/package.json
  packages/open-library-client/prettier.config.ts
  packages/open-library-client/src/index.test.ts
  packages/open-library-client/src/index.ts
  packages/open-library-client/src/search.test.ts
  packages/open-library-client/src/search.ts
  packages/open-library-client/src/types.ts
  packages/open-library-client/tsconfig.base.json
  packages/open-library-client/tsconfig.json
  packages/open-library-client/tsconfig.lib.json
  packages/open-library-client/tsconfig.node.json
  packages/open-library-client/tsconfig.test.json
Due: fmt, lint, check, test

Updated README for @colibri-hq/mobi with detailed usage instructions and API documentation
  packages/mobi/README.md
Due: fmt, lint

Added support for UUID in MOBI metadata parsing
  packages/mobi/src/index.ts
  packages/mobi/src/parser.ts
Due: fmt, lint, check, test

Added shared Colibri User Agent export
  packages/shared/src/index.ts
Due: fmt, lint, check, test

Refined shared testing config export
  packages/shared/eslint.config.ts
  packages/shared/package.json
  packages/shared/vitest.config.ts
Due: fmt, lint, check, test

Refined shared testing config export
  packages/open-library-client/vitest.config.ts
Due: fmt, lint, check, test

Added Vault for secret storage, custom database image with Vault extension
  docker-compose.yaml
  packages/sdk/.kanelrc.cjs
  packages/sdk/package.json
  packages/sdk/src/resources/settings.ts
  packages/sdk/src/schema.d.ts
  supabase/schema/00_common.sql
Due: fmt, lint, check, test

Implemented database-side storage configuration
  apps/app/src/app.d.ts
  apps/app/src/hooks.server.ts
  apps/app/src/lib/server/storage.ts
  apps/app/src/lib/trpc/context.ts
  apps/app/src/lib/trpc/routes/books.ts
  apps/app/src/routes/(library)/works/[work=id]/cover/file/+server.ts
  apps/app/src/routes/(library)/works/[work=id]/download/[[asset]]/+server.ts
  apps/cli/package.json
  apps/cli/src/command.ts
  apps/cli/src/commands/storage/config/get.ts
  apps/cli/src/commands/storage/config/set.ts
  apps/cli/src/commands/storage/connect.ts
  apps/cli/src/commands/storage/copy.ts
  apps/cli/src/commands/storage/list-buckets.ts
  apps/cli/src/commands/storage/list-objects.ts
  apps/cli/src/commands/storage/list.ts
  apps/cli/src/commands/storage/make-bucket.ts
  apps/cli/src/commands/storage/move.ts
  apps/cli/src/commands/storage/remove-bucket.ts
  apps/cli/src/commands/storage/remove.ts
  apps/cli/src/domain/storage/command.ts
  packages/sdk/src/storage/buckets.ts
  packages/sdk/src/storage/client.ts
  packages/sdk/src/storage/files.ts
  packages/sdk/src/storage/index.ts
  packages/sdk/src/storage/objects.ts
  packages/sdk/src/storage/types.ts
Due: fmt, lint, check, test

Refactored image utilities: extracted metadata parsing (Exif, XMP), reorganized blurhash and dimension functions into modular structure
  packages/shared/src/image.test.ts
  packages/shared/src/image.ts
  packages/shared/src/images/blurhash.ts
  packages/shared/src/images/dimensions.test.ts
  packages/shared/src/images/dimensions.ts
  packages/shared/src/images/images.test.ts
  packages/shared/src/images/index.ts
  packages/shared/src/images/metadata/exif.ts
  packages/shared/src/images/metadata/index.ts
  packages/shared/src/images/metadata/xmp.ts
  packages/shared/src/index.ts
Due: fmt, lint, check, test

Added `LoosePartial` type utility to shared types
  packages/shared/src/types.ts
Due: fmt, lint, check, test

Added support for ISBN detection in EPUB metadata parsing
  packages/sdk/src/ebooks/epub.ts
Due: fmt, lint, check, test

Added support for `titleFileAs` and improved metadata extraction in MOBI parsing
  packages/sdk/src/ebooks/metadata.ts
  packages/sdk/src/ebooks/mobi.ts
Due: fmt, lint, check, test

Standardized error handling in Open Library metadata utility with `cause` property for detailed context.
  apps/app/src/lib/metadata/open-library.ts
Due: fmt, lint, check, test

Refactored CLI features: replaced "book" with "work", added commands for creators and publishers, introduced utility updates.
  apps/cli/package.json
  apps/cli/src/commands/books/add.ts
  apps/cli/src/commands/creators/add.ts
  apps/cli/src/commands/creators/edit.ts
  apps/cli/src/commands/creators/inspect.ts
  apps/cli/src/commands/creators/list.ts
  apps/cli/src/commands/oauth/clients/index.ts
  apps/cli/src/commands/publishers/edit.ts
  apps/cli/src/commands/publishers/inspect.ts
  apps/cli/src/commands/publishers/list.ts
  apps/cli/src/commands/users/index.ts
  apps/cli/src/commands/works/add.ts
  apps/cli/src/commands/works/inspect.ts
  apps/cli/src/commands/works/list.ts
  apps/cli/src/utils/tables.ts
Due: fmt, lint, check, test

Expanded `Metadata` type exports: added `Contributor` and aliased `Identifier` as `IdentifierType`.
  packages/sdk/src/ebooks/index.ts
Due: fmt, lint, check, test

feat(cli): Add metadata discovery and import commands
  apps/cli/README.md
  apps/cli/eslint.config.ts
  apps/cli/package.json
  apps/cli/src/command.ts
  apps/cli/src/commands/connect.ts
  apps/cli/src/commands/creators/add.ts
  apps/cli/src/commands/creators/inspect.ts
  apps/cli/src/commands/discovery/preview-coordinator.ts
  apps/cli/src/commands/discovery/preview.ts
  apps/cli/src/commands/storage/connect.ts
  apps/cli/src/commands/storage/list-objects.ts
  apps/cli/src/commands/works/add.ts
  apps/cli/src/commands/works/import.ts
  apps/cli/test/commands/discovery/metadata-discovery.test.ts
  apps/cli/test/commands/discovery/preview-coordinator-wikidata-integration.test.ts
  apps/cli/test/commands/discovery/preview-output-formatting.test.ts
  apps/cli/test/commands/discovery/preview-wikidata-integration.test.ts
Due: fmt, lint, check, test

feat(app): Add series management for browsing book series
  apps/app/src/lib/components/Links/SeriesLink.svelte
  apps/app/src/lib/components/SeriesBadge.svelte
  apps/app/src/lib/components/Sidebar/Sidebar.svelte
  apps/app/src/lib/trpc/router.ts
  apps/app/src/lib/trpc/routes/series.ts
  apps/app/src/routes/(library)/series/+layout.svelte
  apps/app/src/routes/(library)/series/+page.svelte
  apps/app/src/routes/(library)/series/+page.ts
  apps/app/src/routes/(library)/series/[series=id]/+page.server.ts
  apps/app/src/routes/(library)/series/[series=id]/+page.svelte
  apps/app/src/routes/(library)/series/[series=id]/+page.ts
  apps/app/src/routes/(library)/works/[work=id]/+page.ts
  apps/app/src/routes/(library)/works/[work=id]/+page@(library).svelte
  packages/sdk/src/resources/series.ts
Due: fmt, lint, check, test

feat(setup): Add E2E test suite and comprehensive documentation
  packages/create/package.json
  packages/setup/.cache/eslint.json
  packages/setup/.cache/prettier.json
  packages/setup/README.md
  packages/setup/bin/dev.js
  packages/setup/bin/run.js
  packages/setup/eslint.config.ts
  packages/setup/oclif.manifest.json
  packages/setup/package.json
  packages/setup/src/__tests__/api.e2e.test.ts
  packages/setup/src/__tests__/setup.e2e.test.ts
  packages/setup/src/__tests__/test-utils.ts
  packages/setup/src/app.css
  packages/setup/src/app.html
  packages/setup/src/commands/index.ts
  packages/setup/src/core/state.ts
  packages/setup/src/core/validation.ts
  packages/setup/src/index.ts
  packages/setup/src/lib/server.ts
  packages/setup/src/routes/+layout.svelte
  packages/setup/src/routes/+page.svelte
  packages/setup/src/routes/api/apply-config/+server.ts
  packages/setup/src/routes/api/test-database/+server.ts
  packages/setup/svelte.config.js
  packages/setup/tsconfig.base.json
  packages/setup/tsconfig.json
  packages/setup/vite.config.ts
  packages/setup/vitest.config.ts
  pnpm-lock.yaml
Due: fmt, lint, check, test

docs: Remove sample content and add honest status notes
  apps/docs/content/blog/2021-12-22-organizing-with-collections.md
  apps/docs/content/blog/2024-06-25-cli-power-user-guide.md
  apps/docs/content/blog/2024-11-20-metadata-enrichment-deep-dive.md
  apps/docs/content/blog/2024-12-15-introducing-colibri-v3.md
  apps/docs/content/blog/2024-12-15-introducing-colibri.md
  apps/docs/content/blog/2024-12-18-getting-started-in-5-minutes.md
  apps/docs/content/blog/2024-12-28-author-disambiguation.md
  apps/docs/content/blog/2024-12-30-building-custom-metadata-provider.md
  apps/docs/content/blog/2025-01-02-series-detection.md
  apps/docs/content/blog/2025-01-03-community-spotlight-january.md
  apps/docs/content/blog/2025-01-04-colibri-v3-1-release.md
  apps/docs/content/blog/2026-01-06-the-history-of-colibri.md
  apps/docs/content/getting-started/markdown.md
  apps/docs/content/user-guide/reviews-ratings.md
  apps/docs/content/user-guide/settings.md
Due: fmt, lint

chore: Update dependencies and add Cloudflare adapter support
  apps/app/package.json
  apps/cli/package.json
  apps/docs/package.json
  apps/docs/src/routes/test/+page.svelte
  apps/docs/svelte.config.js
  package.json
  packages/languages/package.json
  packages/oauth/package.json
  packages/sdk/package.json
  packages/setup/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: fmt, lint, check, test

Added missing wrangler config
  apps/docs/wrangler.toml
Due: none

Refined text selection
  apps/docs/src/lib/components/Footer.svelte
  apps/docs/src/lib/components/GitHubStars.svelte
Due: fmt, lint, check, test

Fixed formatting
  packages/setup/README.md
Due: fmt, lint

Added additional wrangler settings
  apps/docs/wrangler.toml
Due: none

Path conditions:
  fmt: any of: *.{ts,js,svelte,css,html,md}
  lint: any of: *.{ts,js,svelte,css,html,md}
  check: any of: *.{ts,js,svelte}, tsconfig*.json
  test: any of: *.{ts,js,svelte}
